<div class="item" year="{{ ext.year }}">
    {% if ext.image %}
        {% if ext.url == nil %}
            <span class="image"><img src="{{ ext.image }}"></span>
        {% else %}
            <a href="{{ ext.url }}" target="_blank" class="image"><img src="{{ ext.image }}"></a>
        {% endif %}
    {% endif %}
    <div {% if ext.image == nil %}class="no-img"{% endif %}>
        <p>
            {% if ext.url == nil %}
                {{ ext.title }}
            {% else %}
                <a href="{{ ext.url }}" target="_blank">{{ ext.title }}</a>
            {% endif %}
            <br>
            {% if ext.subtitle %}
                <span class="sub font-italic">{{ ext.subtitle }}</span><br>
            {% endif %}
            <span class="sub">
                {% if ext.location %}
                    {{ ext.location }} - 
                {% endif %}
                {{ ext.year }}
            </span>
        </p>
        <p class="sub">{{ ext.authors }}</p>
    </div>
</div>