.exp:not(:last-of-type){
    border-right: 1px grey solid;
}

.exp img{
    height: 75px;
    width: 100px;
    margin: 5px 15px;
    object-fit: contain;
}

.exp .title{
    font-size: 1.5em;
}

.exp .subtitle{
    color: grey;
    font-weight: 300;
}

.exp figcaption{
    min-width: 300px !important;
}

@media (max-width: 768px){
    body > header{
        position: initial !important;
    }

    .content{
        margin-top: 25px;
    }
}

@media (max-width: 1080px){
    .exp:not(:last-of-type){
        border-right: 1px transparent solid;
        border-bottom: 1px grey solid;
        padding-bottom: 25px;
    }

    .exp:not(:first-of-type){
        padding-top: 25px;
    }
}