.exp:not(:last-of-type){
    border-right: 1px grey solid;
}

.exp img{
    height: 75px;
    width: 100px;
    margin: 5px;
    object-fit: contain;
}

.exp .title{
    font-size: 1.5em;
}

.exp .subtitle{
    color: grey;
    font-weight: 300;
}

.exp figcaption{
    min-width: min(300px, 50vw);
}

.exp{
    padding: 0;
}

@media screen and (max-width: 1050px){
    .exp:not(:last-of-type){
        border-right-color: transparent;
        border-bottom: 1px gray solid;
        padding-bottom: 25px;
    }

    .exp:not(:first-of-type){
        padding-top: 25px;
    }

    .exp{
        margin: 0 10px;
    }
}
