#home-content{
    border-spacing: 15px;
    margin-top: calc(24vh + 16vw);
}

#home-content > div{
    padding: 50px;
}

#home-content > div:nth-child(even){
    background-color: #fafafa;
}

.posts, .projects{
    display: grid;
    justify-content: center;
}

.posts{
    gap: 50px 75px;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects{
    grid-template-columns: repeat(auto-fit, min(calc(100vw - 100px), 600px));
}

.row{
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 768px){
    #home-content{
        margin-top: 0px;
    }

    #home-content > div{
        padding-right: 50px;
        padding-left: 50px;
    }
}