.post{
    display: inline-flex;
    margin: 0 15px;
}

.post img{
    margin: 5px 10px;
    width: 400px;
    height: 15em;
    object-fit: cover;
}

.post .desc{
    display: inline-block;
    margin: 5px 10px;
    width: 260px;
    vertical-align: top;
}

.post a:hover{
    text-decoration: none;
}

#post{
    margin: 50px;
    width: min(700px, calc(100% - 100px));
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
}

#post-content img{
    max-width: 100%;
}

table, th, td {
    border: 1px solid silver;
}

table{
    width: 100%;
}

th, td{
    padding: 5px 15px;
}

th{
    text-align: center;
}

@media screen and (max-width: 768px){
    .post{
        margin: 0 25px;
        display: initial;
    }

    .post img, .post .desc{
        width: calc(100% - 20px);
    }
}