.project{
    background: rgba(0,0,0,.025);
    padding: 40px;
    display: inline-block;
    transition: transform .5s ease;
}

.project img{
    object-fit: contain;
    max-height: 300px;
    width: 100%;
}

.project figcaption{
    max-width: 100%;
}

.project, .project:visited{
    color: unset;
}

.project:hover{
    text-decoration: none;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}