---
layout: default
---

<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/home.css">
{% seo %}
</head>

<body>
    {% include header.html %}
    <div id="home-content">
        {% assign content_stripped = content | strip %}
        {% if content_stripped != "" %}
            <div>{{ content }}</div>
        {% endif %}
        {% assign n_posts = site.posts | size %}
        {% if n_posts > 0 %}
            <div>
                <h1 class="text-center mb-5">Blog</h1>
                <div class="posts">
                    {% for post in site.posts %}
                        {% include post.html %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if site.data.work or site.data.education %}
            <div class="row d-flex">
                {% if site.data.work %}
                    <div class="col-md exp">
                        <h1 class="text-center mb-4">Work</h1>
                        <div class="d-table mx-auto">
                            {% for work in site.data.work %}
                                {% include work.html %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if site.data.education %}
                    <div class="col-md exp">
                        <h1 class="text-center mb-4">Education</h1>
                        <div class="d-table mx-auto">
                            {% for education in site.data.education %}
                                {% include education.html %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if site.data.projects %}
            <div>
                <h1 class="text-center">Projects</h1>
                <div class="projects">
                    {% for project in site.data.projects %}
                        {% include project.html %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if site.data.external %}
            {% for external in site.data.external %}
                <div class="external" id="{{ external[0] }}">
                    <h1>{{ external[0] | capitalize }}</h1>
                    <div class="list">
                        {% for ext in external[1].list limit:external[1].limit %}
                            {% include external-item.html %}
                        {% endfor %}
                    </div>
                    {% if external[1].list.size > external[1].limit %}
                        <a href="/{{ external[0] }}" target="_blank" class="more">More</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% include footer.html %}
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/assets/js/header.js"></script>
</html>
